@import "tailwindcss";

:root {
  /* Opsional: Mengatur scroll agar smooth */
  scroll-behavior: smooth;
}

body {
  /* Pastikan background default sesuai desain agar tidak ada flash putih saat loading */
  background-color: #0E131F;
  color: white;
}

/* Hide scrollbar but keep scroll functionality */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}